<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/index.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>DSW</title>
    <link rel="stylesheet" href="/public/static/style/style.css">


    <style>
        body {



            font-weight: bold;
        }
    </style>
</head>
<!-- Popup Background Screen -->
<div id="popup-screen">
</div>
<!-- Main Screen -->

<body>
    <section class="popup" id="loading">
		<div class="lds-facebook">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</section>
    <nav id="navbar1">
        <div>
            <img src="<%=main.icon%>" alt="logo">
        </div>
        <div id="nav1-links">
            <div id="search">
                <input id="search-input" type="search" name="clubName" onkeyup="searchClubs(this.value,'navBar')"
                    autocomplete="off">
                <div id="suggestionClubs"></div>
            </div>
            <button id="search-btn-icon">
                <i class="fa fa-search"></i>
            </button>
            <div id="pvtComponent1"></div>
        </div>
    </nav>
    <!-- Notification popup Screen-->
    <div class="detail-container" id="messages-container">
        <div id="message-header">
            <button onclick="removeMessages()"><i class="fa fa-remove"></i></button>
            <h1>Messages</h1>
        </div>
        <div id="messages-list">
        </div>
    </div>
    <!--Video Conatiner  -->
    <div id="main-video">
        <video style="width: 60%; " loop muted autoplay="autoplay">
            <source src="<%=main.video%>" type="video/mp4">
        </video>
    </div>
    <!-- Event popup Screen --->
    <div id="live-events-container">
        <h1 id="head-live-events-container"><i class="fa fa-calendar"></i>Upcoming Events:</h1>
        <div id="events-list">
            <%for(let i=0;i<events.length;i++){%>
                <%let dateString=events[i].eventDate.split("-");%>
                    <button class="live-event" onclick="eventpop(<%=JSON.stringify(events[i])%>)">
                        <img src="<%=events[i].icon%>" alt="clubIcon">
                        <h4 class="event-description">
                            <%=events[i].Name%>&nbsp;Organised by&nbsp;<%=events[i].clubName%>&nbsp;on&nbsp;
                                    <%=dateString[2]%>-<%=dateString[1]%>-<%=dateString[0]%>
                        </h4>
                    </button>
                    <%}%>
        </div>
    </div>
    <!-- Event Pop screen -->
    <div class="detail-container" id="event-popup">
        <div id="event-popup-container1">
            <button class="remove-icon" onclick="removeEventPopup()"><i class="fa fa-remove"></i></button>
            <img id="event-popup-img" alt="eventIcon">
        </div>
        <div id="event-popup-container2">
            <h1 id="event-popup-name"></h1>
            <h2>Organized By: <span id="event-popup-clubName"></span></h2>
            <h2>Event Date: <span id="event-popup-regdate"></span></h2>
            <h2>Last Registration Date: <span id="event-popup-date"></span></h2>
            <p id="event-popup-detail"></p>
            <a href="/club/ticket" target="_blank" id="event-btn">Get Ticket</a>
        </div>
    </div>

    <!--     get to know our team         -->


    <div class="team">
        <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Get to Know Our Team" ]'>
                <span class="wrap"></span>
            </a>
        </h1>
        <hr>
        <div class="parent">
            <div class="child">
                <img src="static/images/mkk sir.jpg">
                <h2>Mr. Manish Kaushik</h2>
                <h5>Dean Students' Welfare</h5>
            </div>
            <div class="child">
                <img src="static/images/kanika mam.jpg">
                <h2>Mrs. Kanika Jindal</h2>
                <h5>Associate Dean Students' Welfare</h5>
            </div>
        </div>
    </div>



    <!--     End      -->
    <!-- Club of the year detail -->

    <section>

        <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Club Under DSW" ]'>
                <span class="wrap"></span>
            </a>
        </h1>
        <hr>
        <div class="search_system">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search..." onkeyup="searchClubs(this.value,'list')">
            </div>
        </div>
        <div class="outer-wrapper">

            <div class="inner-wrapper" id="club-list">
            <%for(let i=0;i<clubs.length;i++){%>
            
                <div class="pseudo-item">
                    <a href="/club/<%=clubs[i].name%>">
                        <div class="child">
                            <img src="<%=clubs[i].icon%>">
                            <h2><%=clubs[i].name%></h2>
                        </div>
                    </a>
                </div>
            <%}%>
            </div>
            <div class="pseduo-track"></div>
    </section>

    <!--coty(Club of the year)-->
    <div class="detail-container" id="coty">
        <div id="coty-container1">
            <h1>Best Club of the Year</h1>
            <h1 id="coty-name">
                <%=coty.name%>
            </h1>
        </div>
        <div id="coty-container2">
            <img id="coty-img" src="<%=coty.icon%>" alt="Club-of-the-year-NIET">
        </div>
    </div>

    <!-- gallary -->
    <div class="gallary">
        <div class="text">
            <h3>Event Times</h3>
            <p>PHOTOS<span>.</span></p>
        </div>
        <div class="image image1">
            <img id="IMG"
                src="<%=lastEvent.eventPhotos[0]%>">
        </div>
        <div class=" image image2">
            <img id="IMG" src="<%=lastEvent.eventPhotos[1]%>">
        </div>
        <div class="image image3">
            <img id="IMG"
                src="<%=lastEvent.eventPhotos[2]%>">
        </div>
        <div class="image image4">
            <img id="IMG"
                src="<%=lastEvent.eventPhotos[3]%>">
        </div>
        <div class="image image5">
            <img id="IMG"
                src="<%=lastEvent.eventPhotos[4]%>">
        </div>
        <div class="image image6">
            <img id="IMG"
                src="<%=lastEvent.eventPhotos[5]%>">
        </div>
    </div>


    <!-- gallary end -->

    <!----------------   Footer    ---------------------------->

    <footer class="new_footer_area bg_color" id="contact">
        <div class="new_footer_top">
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>

    </footer>
</body>
<script src="/static/js/api/index.js"></script>
<script>
    var TxtType = function (el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function () {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function () {
            that.tick();
        }, delta);
    };

    window.onload = async function () {
        await onLoad();
        var elements = document.getElementsByClassName('typewrite');
        for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        var dropdown = document.getElementById("myDropdown");
        dropdown.classList.toggle("show");
        if (dropdown.classList.contains("show")) {
            dropdown.classList.add("open-dropdown");
        } else {
            dropdown.classList.remove("open-dropdown");
        }
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                    openDropdown.classList.remove('open-dropdown');
                }
            }
        }
    }
</script>
<script>
    // Function to handle the search button click
    function searchClick() {
        // Get the search input value
        var searchInput = document.querySelector(".search-input").value;

        // Perform your search or submit the search query
        // For this example, we'll just display an alert
        alert("You searched for: " + searchInput);
    }
</script>

</html>