<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>DSW</title>
</head>
<body onload="onLoad()">
    <header>
        <nav id="navbar1">
            <div>
                <img src="static/images/DSW white.png" alt="logo">
            </div>
            <div id="nav1-links">
                <div id="search">
                    <input id="search-input" type="search" name="clubName" onkeyup="searchClubs(this.value)" autocomplete="off">
                </div>
                <div id="pvtComponent1"></div>
            </div>
        </nav>
    </header>
    <div id="suggestionClubs"></div>
    <div id="main-video">   
        <video style="width: 60%; " loop muted autoplay="autoplay">
            <source src="<%=SERVER_DIR%><%=club.video%>" type="video/mp4">
        </video>
    </div>
    <div id="live-events-container">
    
        <h1 id="head-live-events-container"><i class="fa fa-calendar"></i>Latest Events:</h1>
        <div id="events-list">
            <div class="live-event">
                <img src="<%=SERVER_DIR%>/dynamic/images/Reboot-clubIcon.png" alt="clubIcon">
                <p class="event-description">
                    Lorem ipsum dIn suscipit dolorum quibusdam eveniet officia dignissimos nemo sint similique, itaque odio.
                </p>
                <a href="/club/ticket">Get Ticket</a>
            </div>
            <div class="live-event">
                <img src="<%=SERVER_DIR%>/dynamic/images/Reboot-clubIcon.png" alt="clubIcon">
                <p class="event-description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. At assumenda adipisci repellat dignissimos. In suscipit dolorum quibusdam eveniet officia dignissimos nemo sint similique, itaque odio.
                </p>
                <a href="/club/ticket">Get Ticket</a>
            </div>
        </div>

    </div>
</body>
<script>
    window.SERVER_DIR = '<%=SERVER_DIR%>'
</script>
<script src="/static/js/api/index.js"></script>
</html>