<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery Link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Profile(<%=user.name%>)</title>
    <link rel="stylesheet" href="/public/static/style/profile.css">
    <style>
        
         body {
            background-color: slateblue;
             
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            display:flex;
            margin-top: 50px;
        }
        .card {
            margin: auto;
            box-shadow: 0 4px 8px 0 rgba(244, 224, 1, 0.2);
            width: 400px;
            height: auto;
           
            border-radius: 8px;
            padding: 40px;
            text-align: center;
            line-height: 2px;

        }
        .card{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 200px;
            margin: auto;
            text-align: center;
            font-family: arial;
            height:auto;
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .title {
            color: black;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        } 

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover,
        a:hover {
            opacity: 0.7;
        } 
    </style>
    
</head>
<script>
    window.user = <%-JSON.stringify(user)%>
</script>

<body onload="onLoad()">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="card" >
        <div>
            <img src=<%=user.avatar%> alt="Avatar" style="width: 100px; " >
        </div>
        <div class="title">
        <h1><%=user.name%></h1><br>
        <h2><%=user.ERP_ID%></h2><br>
               <h2><%=user.branch%></h2><br>
                <h2><%=user.year%> year</h2><br>
                   
                            <!--  On click edit profile open form to edit profile-->
                            <div id="editable">

                            </div>

        </div>
  <!-- <p><button>Contact Info : </button></p> -->
        <h3>Contact Info : </h3>
      <div>

            <a href="<%=user.medialink.whatsapp%>"><i class="fa fa-whatsapp"></i></a>
            <a href="<%=user.medialink.linkedin%>"><i class="fa fa-linkedin"></i></a>
</div>
</div>

<script src="/static/js/api/profile.js"></script>
</body>

</html>