<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile(<%=user.name%>)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<script>
    window.user = <%-JSON.stringify(user)%>
</script>
<body onload="onLoad()">
    
    <div style="display: flex;">
        <div>
            <img src=<%=user.avatar%> alt="Avatar" style="width: 200px;">
        </div>
        <div>
        <%=user.name%><br>
        <%=user.ERP_ID%><br>
        <%=user.branch%><br>
        <%=user.year%><br>
            <!--  On click edit profile open form to edit profile-->
            <div id="editable">
                <!-- Data came from Edit_profile templates -->
            </div>
        
        </div>
    </div>
    <div>
        <h3>Contact Info:</h3>
        <div>
            <a href=<%=user.medialink.whatsapp%>>Whatsapp</a>
            <a href=<%=user.medialink.linkedin%>>LinkedIn</a>
        </div>
    </div>


    
</body>
<script src="/static/js/api/profile.js"></script>
</html>