<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile(<%=user.name%>)</title>
</head>
<script>
    var onLoad = async()=>{
        let localUser = await JSON.parse(localStorage.getItem("user"));
        let user = <%-JSON.stringify(user)%>;
        if(user){
            if(localUser.ERP_ID==user.ERP_ID){
                document.getElementById("editProfile").style.display = "block";
                document.getElementById("logout").style.display = "block";
            }else{
                document.getElementById("editProfile").style.visibility = "hidden";
            }
        }else{
            window.location.href = "http://localhost:3000/";
        }
        let adminID = document.getElementsByClassName("adminID");
        for(let i=0;i<adminID.length;i++){
            adminID[i].value = localUser.id;
        }
        //setUp edit form
        document.getElementById("name").value = user.name;
        document.getElementById("branch").value = user.branch;
        document.getElementById("year").value = user.year;
        document.getElementById("gender").value = user.gender;
        document.getElementById("contactNo").value = user.contactNo;
        document.getElementById("linkedIn").value = user.medialink.linkedin;
    }
    var logout = async()=>{
        localStorage.clear();
        window.location.href = "http://localhost:3000/auth/login"
    }
    var editProfile = async()=>{

    }
    var editProfileToggle = async()=>{
        let editForm = document.getElementById("editProfileForm");
        if(editForm.style.display=="none"){
            editForm.style.display = "block";
        }else{
            editForm.style.display = "none";
        }
    }
</script>
<body onload="onLoad()">
    <div style="display: flex;">
        <div>
            <img src=<%=user.avatar%> alt="Avatar" style="width: 200px;">
        </div>
        <div>
        <%=user.name%><br>
        <%=user.ERP_ID%><br>
        <%=user.branch%><br>
        <%=user.year%><br>
        <!--  On click edit profile open form to edit profile-->
        <button id="editProfile" onclick="editProfileToggle()" style="display: none;">Edit Profile</button><br>
        <button id="logout" onclick="logout()" style="display: none;">Logout</button>
        <form method="POST" action="/profile/edit_profile" id="editProfileForm" style="display: none;" enctype="multipart/form-data">
            <input type="text" name="name" id="name"><br>
            <input type="text" name="adminID" class="adminID" style="display: none;">
            <input type="text" name="branch" id="branch"><br>
            <input type="number" name="year" id="year"><br>
            <input type="file" name="avatar" id="avatar"><br>
            <input type="text" name="gender" id="gender" ><br>
            <input type="number" name="whatsapp" id="whatsapp" placeholder="whatsapp Number"><br>
            <input type="number" name="contactNo" id="contactNo" placeholder="contactNo"><br>
            <input type="text" name="linkedin" id="linkedIn"><br>
            <input type="password" name="password" placeholder="Enter your password">
            <button type="submit">Update</button>
        </form>
        </div>
    </div>
    <div>
        <h3>Contact Info:</h3>
        <div>
            <a href=<%=user.medialink.whatsapp%>>Whatsapp</a>
            <a href=<%=user.medialink.linkedin%>>LinkedIn</a>
        </div>
    </div>


    
</body>
</html>